<div class="hide-stepper-header tw-mt-10 tw-w-1/2 tw-mx-auto">
    <div class="tw-flex tw-mb-4"><ng-container [ngTemplateOutlet]="stepperHeader()"></ng-container></div>

    <mat-stepper #stepper [(selectedIndex)]="selectedIndex" (selectedIndexChange)="selectedIndexChange.emit($event)">
        <mat-step>
            <ng-template matStepLabel>Fill out your name</ng-template>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>